@import './imports/ui/shape/global.styl'
@import './imports/ui/shape/fonts.styl'



html, body
  position absolute
  display block
  width 100vw
  height 100vh
  margin 0
  padding 0
  overflow hidden
  background white

  > #root, & > #root > #App
    position relative
    display block
    width 100%
    height 100%

  > #root > #App:not(.mobile)
    overflow auto

    > #layout
      min-width 960px
      min-height 640px
      overflow hidden

  > #root > #App.mobile
    overflow-y auto

    > #layout
      height auto
      min-width 100vw
      min-height 100vh
      overflow hidden

    &.loading, &.loading *
      overflow hidden
