<head>
  <meta name="keywords" content="picnic pass, picnic, lunch, meal, UC Davis, school, month, free, early access, member, membership, exclusive"/>
  <meta name="description" content="Picnic Pass at UC Davis"/>
  <meta name="subject" content="Get lunch for less than $6 every day!"/>
  <meta name="copyright" content="Picnic Pass"/>
  <meta name="language" content="en"/>
  <meta name="author" content="HEXA Inc."/>
  <meta name="designer" content="HEXA Inc."/>
  <meta name="owner" content="Picnic Pass"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/img/icons/logo.png">
  <title>Picnic Pass</title>
</head>

<body>
  <div id="root"></div>
</body>
