@font-face
  font-family 'Avenir Next'
  src url('/fonts/avenir_next/Avenir Next Regular.ttf')
  font-weight 300

@font-face
  font-family 'Avenir Next'
  src url('/fonts/avenir_next/Avenir Next Medium.ttf')
  font-weight 400

@font-face
  font-family 'Avenir Next'
  src url('/fonts/avenir_next/Avenir Next DemiBold.ttf')
  font-weight 500

@font-face
  font-family 'Avenir Next'
  src url('/fonts/avenir_next/Avenir Next Bold.ttf')
  font-weight 600

@font-face
  font-family 'Avenir Next'
  src url('/fonts/avenir_next/Avenir Next Heavy.ttf')
  font-weight 700
