#layout
  position relative
  width 100%
  height 100%



*
  font-family 'Avenir Next'
  user-select none
  -webkit-overflow-scrolling touch

h1, h2, h3, h4, h5, h6, p
  cursor default
  color #525252



.hover_zoom:not(.active)
  transition .1s

  &:hover
    transform scale(1.1)
    transition .1s

  &:active
    transform scale(1)
    transition .1s


.cursor_pointer, .cursor_pointer *
  cursor pointer

.cursor_loading, .cursor_loading *
  cursor progress


.selectable_text
  user-select text
  cursor text


.untouchable
  pointer-events none



input
  padding 14px 48px
  box-sizing border-box
  border 1px solid #A9A9A9
  background #EEEEEE
  box-shadow none
  border-radius 30px
  font-size 100%
  color #525252
  outline none
  user-select auto
  appearance none
  transition .1s

  &.invalid
    border-color #E25F2D
    transition .1s

button
  padding 14px 32px
  box-sizing border-box
  background linear-gradient(left, #9DD5A1, #ECD279)
  box-shadow none
  border none
  border-radius 30px
  font-size 100%
  color white
  font-weight 600
  text-transform uppercase
  outline none
  user-select auto
  appearance none
  transition .1s

  &:hover
    transform scale(1.05)
    transition .1s

  &:active
    transform scale(1)
    transition .1s
