@import 'typographic'


#Home3
  position relative
  width 100%
  height 100%
  background #272830
  overflow hidden
  overflow-y auto

  > #tooper
    position absolute
    width 100%
    height 100%
    top 0
    left 0

    > *
      position absolute

      > img
        width 100%

    > #pictures_1
      width 460px
      left 43%
      transform translateX(-50%)

    > #pictures_2
      width 400px
      right 0


  > #header
    position relative
    width 100%
    height 80px
    padding 0 8%
    box-sizing border-box

    > *
      position relative
      display inline-block
      vertical-align middle
      width 50%

    > #left
      height 48px

      > #back
        height 48px
        display inline-block
        padding .8em 2em 1em 2em
        background #EA8A72
        border-radius 0 0 30px 30px

        > img
          width auto
          height 100%

    > #right
      text-align right
      vertical-align bottom

      > p
        margin 0
        font-weight 500
        color white

  > #landing
    position relative
    width 100%
    height auto
    margin-top 7em

    > #food, & > #right
      position relatizve
      display inline-block
      vertical-align middle



    > #food
      position relative
      width 50%


      > *
        position absolute

        > img
          width 100%


      > #food_2
        width 260px
        top 50%
        left 20%
        transform translateY(-80%)


      > #food_3
        width 260px
        top 50%
        left 42%
        transform translateY(-60%)

      > #food_4
        width 260px
        top 50%
        left 20%
        transform translateY(-30%)



    > #right
      width 40%
      padding-left 8%
      box-sizing border-box

      > h1
        margin .5em 0 0 0
        color white
        font-weight 500

      > h3
        font-weight 500
        color white
        margin 1em 0

        > span
          border-bottom 1px solid white


      > #input
        position relative
        margin 1em 0 0 0

        > #icon
          position absolute
          width 24px
          height 24px
          top 20px
          left 5px
          background url('/img/icons/mobile_white.png') center/contain no-repeat

        > input
          width 60%
          line-height 24px
          padding-left 35px
          padding-top 25px
          padding-bottom 5px
          color white !important
          background transparent
          outline none
          border-radius 0
          border none
          border-bottom 2px solid white

          &::placeholder
            color white !important

        > #error
          position absolute
          z-index 3
          top 0
          opacity 1
          width 100%
          left 0
          padding-left 35px
          text-align left
          transition .1s

          &.hidden
            transform translateX(0) translateY(90%) scale(.8)
            opacity 0
            pointer-events none
            transition .1s

          > p
            margin 0
            font-size 80%
            letter-spacing .3px
            color #D2673C


      > button
        position relative
        width 60%
        margin 2em 0 0 0
        border-radius 30px
        background #EA8A72
        color white
        text-transform capitalize


  > #thank_you
    position absolute
    transform translateY(-50%)
    top 50%
    width 100%
    height auto

    > #center
      position relative
      display inline-block
      vertical-align middle

    > #center
      position absolute
      top 50%
      left 50%
      padding 0 10%
      box-sizing border-box
      text-align center
      color white

      p
        color white

      h4
        color white

      > h3
        font-size 150%
        color white

      > h4
        font-size 130%
        font-weight 600
        color white

      > #priority

        > h4
          text-decoration underline

        > #share
          position relative

          > .icon
            position relative
            display inline-block
            vertical-align middle
            width 32px
            height 32px
            outline none
            transition .1s

            &:hover
              transform scale(1.1)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            > div
              position relative
              width 100%
              height 100%
              background url('/img/icons/facebook_white.png') center/contain no-repeat

            > #twitter
              background-image url('/img/icons/twitter_white.png')

            > #email
              background-image url('/img/icons/email_white.png')

            > #linked_in
              background-image url('/img/icons/linked_in_white.png')

            &:not(:last-of-type)
              margin-right 10px

        > p#link
          color white
          text-decoration underline
          transition .1s

          &.copied
            color white
            text-decoration none
            transition .1s

  > #footer
    position absolute
    transform translateY(-100%)
    top 50%
    right 0
    padding 8px
    box-sizing border-box
    text-align center

    > #socials
      position relative

      > a

        > .icon
          width 20px
          height 20px
          background url('/img/icons/instagram_white.png') center/contain no-repeat
          transition .1s
          margin 12px 25px 0 0

          &:hover
            transform scale(1.2)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

          &#facebook
            background-image url('/img/icons/facebook_white.png')

          &#twitter
            background-image url('/img/icons/twitter_white.png')


    > p
      font-size 80%


  > #left
    width 100%
    position relative
    margin-top 6em
    margin-bottom 2em
    padding 0 8%
    box-sizing border-box
    text-align center

    > #how_works
      position relative
      text-align left

      > h1
        color white
        margin 0
        font-size 1.4em
        font-weight 500



    > #list
      position relative
      width 100%
      margin .7em 0

      > .item
        position relative
        display inline-block
        vertical-align middle
        text-align center
        width 31%
        margin-right 3.5%
        padding 2em
        box-sizing border-box
        background #EA8A72
        margin-bottom 2%
        box-shadow .5em .5em 1em rgba(0,0,0,0.2)
        border-radius 20px

        &:last-child
          margin-right 0

        > h1
          margin 0
          font-size 130%
          color white
          font-weight 500

        > p
          margin 0
          font-size 90%
          color white

  > #food
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    opacity 1

    > *
      position absolute

      > img
        width 100%


    > #food_2
      width 200px
      bottom -120px
      left 50%
      transform translateX(-50%)

    > #food_3
      width 240px
      bottom -55px
      left -80px
      transform rotate(75deg)

    > #food_4
      width 200px
      bottom -90px
      right -50px

  &.mobile
    height auto
    min-height 100vh

    > #header
      height auto
      padding-left 0

      > #left
        width 60%
        vertical-align middle
        text-align left
        height auto

        > #back
          padding .5em 0 .2em .5em
          border-radius 0 0 30px 0
          height auto

          > img
            width 80%
            height auto

      > #right
        vertical-align middle
        width 40%

    > #landing
      position relative
      transform translateY(0)
      top 0
      width 100%
      height auto
      margin 7vh 0 0 0

      > #right
        display block
        width 100%
        padding 0 5%
        text-align center

      > #right
        margin 13vh 0 4vh 0

        > h1
          font-size 150%

        > h3
          font-size 100%

        > #input
          margin 2em auto

          > #icon
            left 50px

          > input
            width 70%

          > #error
            top auto
            text-align center
            margin-top 5px
            padding 0

            > p
              font-size 90%

        > button
          width 60%
          margin 0
          font-size 90%

          &:hover
            transform scale(1)
            transition .1s

          &:active
            transform scale(.9)
            transition .1s


      > #food
        display none


    > #left
      margin-top 6em
      margin-bottom 8em

      > #how_works
        text-align center
        margin-bottom 1em

      > #list
        margin-bottom 4em

        > .item
          display block
          width 100%
          margin-bottom 1em

    > #thank_you
      position relative
      transform translateX(0) translateY(0)
      top 0
      margin 10vh 0

      > #left, & > #right
        position fixed
        width 100%
        transform translateY(-50%)
        top 50%

        > #list
          position relative
          width 100%
          margin 1.5em 0

          > .item
            width 100%
            height 98px
            padding 1em 0

          > #food

            > #food_1
              width 140px
              top -80px
              right -44px

            > #food_2
              width 130px
              top -90px
              left -15px

            > #food_3
              width 180px
              bottom -100px
              right -30px

            > #food_4
              width 120px
              bottom -70px
              left -30px

      > #left
        left -90%

      > #right
        right -90%

      > #center
        position relative
        top 0
        left 0
        padding 0 10%
        font-size 90%

        > #priority

          > #share

            > .SocialMediaShareButton
              width 24px
              height 24px

    > #footer
      position absolute
      bottom 0
      width 100%
      height auto
      padding 16px 10vw
      box-sizing border-box
      text-align center

      > #socials
        position relative

        > a
          position relative
          display inline-block
          vertical-align middle

          > .icon
            width 20px
            height 20px
            background url('/img/icons/instagram_white.png') center/contain no-repeat
            transition .1s

            &:hover
              transform scale(1.2)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            &#facebook
              background-image url('/img/icons/facebook_white.png')

            &#twitter
              background-image url('/img/icons/twitter_white.png')

          &:not(:last-of-type)
            margin-right 1em

      > p
        font-size 80%

    > #footer
      position absolute
      transform none
      top auto
      bottom 0
      padding 32px 0 64px 0

      > #socials

        > a

          > .icon
            margin 0

            &:hover
              transform scale(1)

            &:active
              transform scale(.9)



    > #food

      > #food_2
        width 155px

      > #food_3
        width 165px
        bottom -90px
        transform none

      > #food_4
        width 140px
        bottom -70px
