@import 'typographic'



#Home2
  position relative
  width 100%
  height 100%
  background linear-gradient(-45deg, #FF4377, #FF8F6B)
  overflow hidden

  > #tooper
    position absolute
    width 100%
    height 100%
    top 0
    left 0

    > *
      position absolute

      > img
        width 100%

    > #pictures_1
      width 460px
      left 43%
      transform translateX(-50%)

    > #pictures_2
      width 400px
      right 0


  > #header
    position relative
    width 100%
    height 80px
    padding 16px 4vw
    box-sizing border-box

    > *
      position relative
      display inline-block
      vertical-align middle
      width 50%

    > #left
      height 48px

      > img
        width auto
        height 100%

    > #right
      text-align right

      > p
        margin 0
        font-weight 800
        color white

  > #landing
    position absolute
    transform translateY(-50%)
    top 50%
    width 100%
    height auto

    > #left, & > #right
      position relative
      display inline-block
      vertical-align middle

    > #left
      width 60%
      padding 0 10%
      box-sizing border-box
      text-align right

      > #how_works
        position relative
        text-align right

        > h1
          color white
          margin 0
          font-size 1.8em
          opacity .7



      > #list
        position relative
        width 100%
        margin .7em 0

        > .item
          position relative
          width 100%
          text-align right
          padding 2em 2.6em 2em 1em
          box-sizing border-box
          background white
          margin-bottom 2%
          box-shadow .5em .5em 1em rgba(0,0,0,0.2)
          border-radius 30px


          > #number
            transform translateX(1vw)
            width 64px
            height 64px
            float left

          > h1
            margin 0 0 8px
            line-height 36px
            font-size 180%
            color #FD7671

          > p
            margin 0
            line-height 18px
            color #FD7671

          &#first

            > #number
              background url('/img/icons/choose.png') center/contain no-repeat

          &#second

            > #number
              background url('/img/icons/line.png') center/contain no-repeat

          &#third

            > #number
              background url('/img/icons/enjoy.png') center/contain no-repeat

      > #logo
        position relative
        width 58px
        height 58px
        margin 0 auto

        > img
          width 100%

    > #right
      width 40%
      padding-left 8%
      box-sizing border-box

      > h1
        margin .5em 0
        color white

      > h3
        font-weight 600
        color white
        margin 2em 0 1.5em 0

      > #input
        position relative
        width 80%
        margin 1em 0 0 0

        > #icon
          position absolute
          width 24px
          height 24px
          top 20px
          left 5px
          background url('/img/icons/mobile_white.png') center/contain no-repeat

        > input
          width 70%
          line-height 24px
          padding-left 35px
          padding-top 25px
          padding-bottom 5px
          color white !important
          background transparent
          outline none
          border-radius 0
          border none
          border-bottom 2px solid white

          &::placeholder
            color white !important

        > #error
          position absolute
          z-index 3
          top 0
          opacity 1
          width 100%
          left 0
          padding-left 35px
          text-align left
          transition .1s

          &.hidden
            transform translateX(0) translateY(90%) scale(.8)
            opacity 0
            pointer-events none
            transition .1s

          > p
            margin 0
            font-size 80%
            letter-spacing .3px
            color #3d3d3d

      > button
        position relative
        width 50%
        margin -2px 30% 0 30%
        border-radius 0 30px 30px 30px
        background white
        color #FD7671
        text-transform capitalize

        &:hover
          transform none

  > #thank_you
    position absolute
    transform translateY(-50%)
    top 50%
    width 100%
    height auto

    > #center
      position relative
      display inline-block
      vertical-align middle

    > #center
      position absolute
      top 50%
      left 50%
      padding 0 10%
      box-sizing border-box
      text-align center
      color white

      p
        color white

      h4
        color white

      > h3
        font-size 150%
        color white

      > h4
        font-size 130%
        font-weight 600
        color white

      > #priority

        > h4
          text-decoration underline

        > #share
          position relative

          > .icon
            position relative
            display inline-block
            vertical-align middle
            width 32px
            height 32px
            outline none
            transition .1s

            &:hover
              transform scale(1.1)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            > div
              position relative
              width 100%
              height 100%
              background url('/img/icons/facebook_white.png') center/contain no-repeat

            > #twitter
              background-image url('/img/icons/twitter_white.png')

            > #email
              background-image url('/img/icons/email_white.png')

            > #linked_in
              background-image url('/img/icons/linked_in_white.png')

            &:not(:last-of-type)
              margin-right 10px

        > p#link
          color white
          text-decoration underline
          transition .1s

          &.copied
            color white
            text-decoration none
            transition .1s

  > #footer
    position absolute
    transform translateY(-50%)
    top 50%
    right 0
    padding 8px
    box-sizing border-box
    text-align center

    > #socials
      position relative

      > a

        > .icon
          width 20px
          height 20px
          background url('/img/icons/instagram_white.png') center/contain no-repeat
          transition .1s
          margin 12px 25px 0 0

          &:hover
            transform scale(1.2)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

          &#facebook
            background-image url('/img/icons/facebook_white.png')

          &#twitter
            background-image url('/img/icons/twitter_white.png')


    > p
      font-size 80%

  > #food
    position absolute
    width 100%
    height 100%
    top 0
    left 0

    > *
      position absolute

      > img
        width 100%


    > #food_2
      width 200px
      bottom -120px
      left 50%
      transform translateX(-50%)

    > #food_3
      width 240px
      bottom -55px
      left -80px
      transform rotate(75deg)

    > #food_4
      width 200px
      bottom -90px
      right -50px



  &.mobile
    height auto
    min-height 100vh

    > #header
      height auto
      padding 16px

      > #left
        width 60%
        height auto

        > img
          width 80%
          height auto

      > #right
        width 40%

    > #landing
      position relative
      transform translateY(0)
      top 0
      width 100%
      height auto
      margin 7vh 0

      > #left, & > #right
        display block
        width 100%
        padding 0 5%
        text-align center

      > #left
        margin-bottom 6em

        > #how_works
          width 100%
          text-align center

          > h1
            font-size 1.3em
            margin-bottom 1em

        > #list

          > .item
            padding 1.5em
            margin-bottom 1em

            > #layout
              position absolute
              z-index -1
              top 0
              left 0

            > #number
              transform none
              width 48px
              height 48px

            > h1
              margin 0 0 8px
              letter-spacing .5px
              font-size 120%
              line-height 22px

            > p
              margin 0
              font-size 100%
              line-height 120%

          > #food
            position absolute
            width 100%
            height 100%
            top 0
            left 0

            > #food_1
              width 120px
              top -75px
              left -60px

            > #food_2
              width 110px
              top -70px
              right -75px

            > #food_3
              width 160px
              bottom -110px
              left -115px

            > #food_4
              width 120px
              bottom -90px
              right -80px

        > #logo
          width 48px
          height 48px

      > #right
        margin 13vh 0

        > h1
          font-size 150%

        > h3
          font-size 100%

        > #input
          margin 2em auto

          > input
            width 100%

          > #error
            top auto
            text-align center
            margin-top 5px
            padding 0

            > p
              font-size 90%

        > button
          width 60%
          margin 0
          font-size 90%

          &:hover
            transform scale(1)
            transition .1s

          &:active
            transform scale(.9)
            transition .1s


    > #thank_you
      position relative
      transform translateX(0) translateY(0)
      top 0
      margin 10vh 0

      > #left, & > #right
        position fixed
        width 100%
        transform translateY(-50%)
        top 50%

        > #list
          position relative
          width 100%
          margin 1.5em 0

          > .item
            width 100%
            height 98px
            padding 1em 0

          > #food

            > #food_1
              width 140px
              top -80px
              right -44px

            > #food_2
              width 130px
              top -90px
              left -15px

            > #food_3
              width 180px
              bottom -100px
              right -30px

            > #food_4
              width 120px
              bottom -70px
              left -30px

      > #left
        left -90%

      > #right
        right -90%

      > #center
        position relative
        top 0
        left 0
        padding 0 10%
        font-size 90%

        > #priority

          > #share

            > .SocialMediaShareButton
              width 24px
              height 24px

    > #footer
      position absolute
      bottom 0
      width 100%
      height auto
      padding 16px 10vw
      box-sizing border-box
      text-align center

      > #socials
        position relative

        > a
          position relative
          display inline-block
          vertical-align middle

          > .icon
            width 20px
            height 20px
            background url('/img/icons/instagram_white.png') center/contain no-repeat
            transition .1s

            &:hover
              transform scale(1.2)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            &#facebook
              background-image url('/img/icons/facebook_white.png')

            &#twitter
              background-image url('/img/icons/twitter_white.png')

          &:not(:last-of-type)
            margin-right 1em

      > p
        font-size 80%

    > #footer
      position relative
      bottom auto
      padding 32px

      > #socials

        > a

          > .icon
            margin 0

            &:hover
              transform scale(1)

            &:active
              transform scale(.9)

    > #food

      > #food_2
        width 155px

      > #food_3
        width 165px

      > #food_4
        width 140px
