@import 'typographic'



#Admin
  position relative
  width 100%
  height 100%
  background white
  overflow hidden

  > #header
    position relative
    z-index 10
    width 100%
    height 96px
    padding 16px 5vw
    box-sizing border-box
    background-color white
    box-shadow 0 2px 1em rgba(0, 0, 0, .1)

    > *
      position relative
      display inline-block
      vertical-align middle
      width 20%

    > #left
      height 48px

      > img
        width auto
        height 100%

    > #center
      width 60%
      text-align center

      > #layout

        > *
          position relative
          display inline-block
          vertical-align middle
          text-align center
          margin-left 20px

          > p
            margin .5em 0
            font-weight 600
            font-size 70%
            text-transform uppercase
            color #525252
            opacity .6

          > h3
            margin 0
            color #525252
            font-size 160%
            font-weight 600

        > #subscribers
          margin-right 4em

    > #right
      text-align right

      > p
        margin 0
        font-weight 600

      > #logout
        font-size 80%
        font-weight normal
        text-decoration underline
        opacity .6

  > #content
    position absolute
    z-index 1
    transform translateY(-50%)
    top 55%
    width 100%
    height auto

    > #left, & > #center, & > #right
      position relative
      display inline-block
      vertical-align middle

    > #left, & > #right
      width 50%
      padding 0
      box-sizing border-box

      > #list
        position relative
        width 100%
        margin 1.5em 0

        > .item
          position relative
          width 100%
          height 95px
          text-align center
          padding 1em 3em
          box-sizing border-box

          > #layout
            position absolute
            z-index -1
            top 0
            left 0
            height 95px

        > #food
          position absolute
          width 100%
          height 100%
          top 0
          left 0

          > *
            position absolute

            > img
              width 100%

          > #food_1
            width 180px
            top -80px
            right -20px

          > #food_2
            width 140px
            top -70px
            left 20px

          > #food_3
            width 210px
            bottom -120px
            right 0

          > #food_4
            width 140px
            bottom -70px
            left 0

    > #left
      left -30%

    > #right
      right -30%

    > #center
      position absolute
      top 50%
      left 50%
      padding 0 10%
      box-sizing border-box
      text-align center

      &.login

        > #form
          position relative
          width 80%
          margin 2em auto

          > input
            width 100%
            line-height 24px
            padding-left 56px
            text-align center
            margin-bottom 20px

          > #error
            position absolute
            z-index 3
            transform translateX(0) translateY(100%) scale(1)
            opacity 1
            width 100%
            bottom -1.5em
            left 0
            text-align center
            transition .1s

            &.hidden
              transform translateX(0) translateY(90%) scale(.8)
              opacity 0
              pointer-events none
              transition .1s

            > p
              margin 0
              font-size 80%
              letter-spacing .3px
              color #D2673C

          > button
            position relative
            width 50%
            margin 10px 15% 0



      &.admin
        width 50%
        height calc(100vh - 96px)
        padding 4em 0
        // background white
        // box-shadow 0 4px 16px rgba(0, 0, 0, .05)
        // border-radius 6px
        overflow-y auto

        > h3
          font-size 150%

        > #list
          position relative
          width 100%
          height auto
          padding 0 6% 2em
          box-sizing border-box

          > .object
            position relative
            width 100%
            box-shadow 0 2px 8px rgba(0, 0, 0, .05)
            padding 1em 5%
            box-sizing border-box
            background-color #9ED6A2
            border-radius 6px
            margin-bottom 15px

            > #left, & > #right
              position relative
              display inline-block
              vertical-align middle
              width 50%

            > #left
              text-align left

              > h3
                margin .5em 0
                font-weight 600
                letter-spacing 1px
                color white

              > #cta
                position relative
                width 100%

                > #icon
                  float left
                  margin-right 8px
                  width 20px
                  height 20px
                  background url('/img/icons/email.png') center/contain no-repeat

                > p
                  margin-top 0
                  font-size 80%
                  color #525252
                  // text-transform uppercase
                  line-height 20px
                  font-weight 600

            > #right
              text-align right

              > *
                position relative
                display inline-block
                vertical-align middle
                text-align center
                margin-left 20px

                > p
                  margin 0 0 .5em
                  font-weight 600
                  font-size 70%
                  text-transform uppercase
                  color white
                  opacity .75

                > h3
                  margin 0
                  color white
                  font-size 160%
                  font-weight 600
