#SimpleLoading
  position fixed
  width 100vw
  height 100vh
  pointer-events none

  > #icon
    position absolute
    width 64px
    height 64px
    top 50%
    left 50%
    transform translate3d(-50%, -50%, 0)

    > img
      width 100%
      height 100%
