@import 'typographic'



#Home
  position relative
  width 100%
  height 100%
  background white
  overflow hidden

  > #header
    position relative
    width 100%
    height 80px
    padding 16px 10vw
    box-sizing border-box

    > *
      position relative
      display inline-block
      vertical-align middle
      width 50%

    > #left
      height 48px

      > img
        width auto
        height 100%

    > #right
      text-align right

      > p
        margin 0
        font-weight 600

  > #landing
    position absolute
    transform translateY(-50%)
    top 50%
    width 100%
    height auto

    > #left, & > #right
      position relative
      display inline-block
      vertical-align middle

    > #left
      width 60%
      padding 0 10%
      box-sizing border-box
      text-align right

      > #how_works
        position relative
        width 60%
        height 52px
        margin 0 auto
        background url('/img/pictures/how_works.png') center/contain no-repeat

      > #list
        position relative
        width 100%
        margin 1.5em 0

        > .item
          position relative
          width 100%
          text-align center
          padding 1em 3em
          box-sizing border-box

          > #layout
            position absolute
            z-index -1
            top 0
            left 0

          > #number
            transform translateX(1vw)
            width 44px
            height 64px
            float left

          > h1
            margin 0 0 8px
            line-height 36px
            font-size 180%
            color white

          > p
            margin 0
            line-height 18px
            color white

          &#first

            > #number
              background url('/img/pictures/1.png') center/contain no-repeat

          &#second

            > #number
              background url('/img/pictures/2.png') center/contain no-repeat

          &#third

            > #number
              background url('/img/pictures/3.png') center/contain no-repeat

        > #food
          position absolute
          width 100%
          height 100%
          top 0
          left 0

          > *
            position absolute

            > img
              width 100%

          > #food_1
            width 180px
            top -110px
            left -70px

          > #food_2
            width 140px
            top -70px
            right -60px

          > #food_3
            width 210px
            bottom -140px
            left -100px

          > #food_4
            width 140px
            bottom -80px
            right -55px

      > #logo
        position relative
        width 58px
        height 58px
        margin 0 auto

        > img
          width 100%

    > #right
      width 40%
      padding-right 10%
      box-sizing border-box

      > h1
        margin-top 0

      > h3
        font-weight 600

      > #input
        position relative
        width 80%
        margin 2em 0

        > #icon
          position absolute
          width 24px
          height 24px
          top 13px
          left 26px
          background url('/img/icons/mobile.png') center/contain no-repeat

        > input
          width 100%
          line-height 24px
          padding-left 56px

        > #error
          position absolute
          z-index 3
          transform translateX(0) translateY(100%) scale(1)
          opacity 1
          width 100%
          bottom -.5em
          left 0
          text-align center
          transition .1s

          &.hidden
            transform translateX(0) translateY(90%) scale(.8)
            opacity 0
            pointer-events none
            transition .1s

          > p
            margin 0
            font-size 80%
            letter-spacing .3px
            color #D2673C

      > button
        position relative
        width 50%
        margin 0 15%

  > #thank_you
    position absolute
    transform translateY(-50%)
    top 50%
    width 100%
    height auto

    > #left, & > #center, & > #right
      position relative
      display inline-block
      vertical-align middle

    > #left, & > #right
      width 50%
      padding 0
      box-sizing border-box

      > #list
        position relative
        width 100%
        margin 1.5em 0

        > .item
          position relative
          width 100%
          height 95px
          text-align center
          padding 1em 3em
          box-sizing border-box

          > #layout
            position absolute
            z-index -1
            top 0
            left 0
            height 95px

        > #food
          position absolute
          width 100%
          height 100%
          top 0
          left 0

          > *
            position absolute

            > img
              width 100%

          > #food_1
            width 180px
            top -80px
            right -20px

          > #food_2
            width 140px
            top -70px
            left 20px

          > #food_3
            width 210px
            bottom -120px
            right 0

          > #food_4
            width 140px
            bottom -70px
            left 0

    > #left
      left -30%

    > #right
      right -30%

    > #center
      position absolute
      top 50%
      left 50%
      padding 0 10%
      box-sizing border-box
      text-align center

      > h3
        font-size 150%

      > h4
        font-size 130%
        font-weight 600
        color #EC9D65

      > #priority

        > #share
          position relative

          > .icon
            position relative
            display inline-block
            vertical-align middle
            width 32px
            height 32px
            outline none
            transition .1s

            &:hover
              transform scale(1.1)
              transition .1s

            &:active
              transform scale(1)
              transition .1s

            > div
              position relative
              width 100%
              height 100%
              background url('/img/icons/facebook.png') center/contain no-repeat

            > #twitter
              background-image url('/img/icons/twitter.png')

            > #email
              background-image url('/img/icons/email.png')

            > #linked_in
              background-image url('/img/icons/linked_in.png')

            &:not(:last-of-type)
              margin-right 10px

        > p#link
          color #525252
          text-decoration underline
          transition .1s

          &.copied
            color #9ED6A2
            text-decoration none
            transition .1s

  > #footer
    position absolute
    bottom 0
    width 100%
    height auto
    padding 16px 10vw
    box-sizing border-box
    text-align center

    > #socials
      position relative

      > a
        position relative
        display inline-block
        vertical-align middle

        > .icon
          width 20px
          height 20px
          background url('/img/icons/instagram.png') center/contain no-repeat
          transition .1s

          &:hover
            transform scale(1.2)
            transition .1s

          &:active
            transform scale(1)
            transition .1s

          &#facebook
            background-image url('/img/icons/facebook.png')

          &#twitter
            background-image url('/img/icons/twitter.png')

        &:not(:last-of-type)
          margin-right 10px

    > p
      font-size 80%



  &.mobile
    height auto

    > #header
      height auto
      padding 16px

      > #left
        width 60%
        height auto

        > img
          width 80%
          height auto

      > #right
        width 40%

    > #landing
      position relative
      transform translateY(0)
      top 0
      width 100%
      height auto
      margin 7vh 0

      > #left, & > #right
        display block
        width 100%
        padding 0 5%
        text-align center

      > #left

        > #how_works
          width 70%

        > #list

          > .item
            padding 7.5px 0

            > #layout
              position absolute
              z-index -1
              top 0
              left 0

            > #number
              transform translateX(7vw)
              width 48px
              height 40px

            > h1
              margin 0 0 4px
              letter-spacing .5px
              font-size 120%
              line-height 22px

            > p
              margin 0
              font-size 60%
              line-height 14px

          > #food
            position absolute
            width 100%
            height 100%
            top 0
            left 0

            > #food_1
              width 120px
              top -75px
              left -60px

            > #food_2
              width 110px
              top -70px
              right -75px

            > #food_3
              width 160px
              bottom -110px
              left -115px

            > #food_4
              width 120px
              bottom -90px
              right -80px

        > #logo
          width 48px
          height 48px

      > #right
        margin 13vh 0

        > h1
          font-size 150%

        > h3
          font-size 100%

        > #input
          margin 2em auto

          > #error

            > p
              font-size 90%

        > button
          width 60%
          margin 0
          font-size 90%
          
          &:hover
            transform scale(1)
            transition .1s

          &:active
            transform scale(.9)
            transition .1s

    > #thank_you
      position relative
      transform translateX(0) translateY(0)
      top 0
      margin 10vh 0

      > #left, & > #right
        position fixed
        width 100%
        transform translateY(-50%)
        top 50%

        > #list
          position relative
          width 100%
          margin 1.5em 0

          > .item
            width 100%
            height 98px
            padding 1em 0

          > #food

            > #food_1
              width 140px
              top -80px
              right -44px

            > #food_2
              width 130px
              top -90px
              left -15px

            > #food_3
              width 180px
              bottom -100px
              right -30px

            > #food_4
              width 120px
              bottom -70px
              left -30px

      > #left
        left -90%

      > #right
        right -90%

      > #center
        position relative
        top 0
        left 0
        padding 0 15%
        font-size 90%

    > #footer
      position relative
      bottom auto
      padding 32px

      > #socials

        > a

          > .icon

            &:hover
              transform scale(1)

            &:active
              transform scale(.9)
